.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
}

.App-header {
  padding: 20px;
  font-size: 2rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
} 